@import url("./normalize.css");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  overflow: hidden;
}

* {
  overflow: hidden;
}

h2 {
  background-color: #ffc0cb;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.user {
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  vertical-align: baseline;
  display: flex;
  padding-left: 5vw;
  border-bottom: 1px solid #666;
}

.user:hover {
  cursor: pointer;
  background-color: #eee;
}

.user:hover img {
  -webkit-box-shadow: 10px 10px 55px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 55px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 55px -26px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
  color: unset;
}

.user-icon {
  width: 8vh;
}

.user-icon img {
  border-radius: 50%;
  border: 2px solid #ffc0cb;
}

.user-text {
  margin-left: 2vw;
  padding-top: 1vh;
}

.upload-time {
  font-size: 0.85em;
  padding-top: 1vh;
  color: #555;
}

.stories-header {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.2em;
  padding-left: 5vw;
}

h1 {
  margin-left: 4vw;
}

.story {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
}

.story-image {
  height: 100vh;
  width: 100vw;
}

.story-header {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  padding-top: 2vh;
  margin-left: 3vw;
}

.story-username {
  margin-left: 2vw;
  font-size: 1.3em;
}

.story-time {
  color: #aaa;
  margin-left: 2vw;
  font-size: 0.9em;
  display: block;
  margin-left: 3em;
}

.see-more-container {
  color: #fff;
  top: 90vh;
  position: absolute;
  text-align: center;
  width: 100vw;
  transition: 0.5s;
}

.see-more-details {
  position: absolute;
  width: 92vw;
  background-color: #fff;
  top: 35vh;
  border-radius: 5%;
  height: 70vh;
  padding: 1em;
  transition: 0.5s;
}
